#primero{
    background-image: url("img/Fondo-madera.jpg");
    font-family: 'Architects Daughter';
    font-size: 14pt;
    color: steelblue;
}
#titulo{
    background-image: url("img/Fondo-madera.jpg");
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
}
h3{
    font-family: 'BalsamiqSans-Regular';
    text-align: right;
    color: indigo;
    font-size: 20pt;
}
p{
    color: SlateBlue;
    text-indent: 40px;
}
pre{
    font-family: "italic";
    text-indent: 0pt;
    color:brown;
    background: linear-gradient(IndianRed, LightCoral);
}
mark{
    background-color: MediumSlateBlue;
}
q{
    color: DarkRed;
}
#subtitulo{
    text-align: right;
    font-style: cursive;
    color: Olive;
}
#subtitulo span{
    color: blue;
}
abbr{
    color:red;
    font-size: 16pt;
}
#lista{
    color:MediumSlateBlue;
}

@font-face{
    font-family: "Dosis";
    src: url("fuentes/dosis/Dosis-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Architects Daughter";
    src: url("fuentes/Architects_Daughter/ArchitectsDaughter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BalsamiqSans-Regular";
    src: url("fuentes/Balsamiq_Sans/BalsamiqSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
